<div>新增事項</div>
<form action="../Home/InsertToDo" method="post">
    <input class="text-box single-line" id="id" name="id" type="text" value="" />
    <input class="text-box single-line" id="LV" name="LV" type="text" value="" />dba是1 ，同仁2
    <input type="submit" name="SaveWork" id="FinishWork" value="Complete" />
</form>
<div>刪除事項</div>
<form action="../Home/DeleteToDo" method="post">
    <input class="text-box single-line" id="id" name="id" type="text" value="" />
    <input type="submit" name="SaveWork" id="FinishWork" value="Complete" />
</form>
<div>標記完成</div>
<form action="../Home/updateToDo" method="post">
    <input class="text-box single-line" id="id" name="id" type="text" value="" />
    <input type="submit" name="SaveWork" id="FinishWork" value="Complete" />
</form>
